{% extends 'base.html' %}


		{% block container %}
		<h2> Empregado {{ empregado.id}} - {{ empregado.nome }} {{empregado.sobrenome }}</h2>
		<hr>
		
		<div class="tabbable tabs-left">
		  <ul class="nav nav-tabs">
		    <li><a href="#dados" data-toggle="tab">Dados</a></li>
		    <li><a href="#custos" data-toggle="tab">Custos</a></li>
		    <li><a href="#pagamentos" data-toggle="tab">Pagamentos</a></li>
		    <li><a href="#contratos" data-toggle="tab">Contratos</a></li>
		    <li><a href="#ctps" data-toggle="tab">CTPS</a></li>
		  </ul>
		  
		  <div class="tab-content">
			  <div id="dados" class="active tab-pane">
				{{ form.as_p }}
			  </div>
			  <div id="custos" class="tab-pane">
			  </div>
			  <div id="pagamentos" class="tab-pane">
				<p>TO-DO</p>
			  </div>
			  <div id="contratos" class="tab-pane">
				<p>TO-DO</p>
			  </div>
			  <div id="ctps" class="tab-pane">
				<p>TO-DO</p>
			  </div>
		  </div>
		</div>
		{% endblock %}
		
		{% block js%}
		<script>
			$("#custos").load("{% url 'EmpregadoSimples.apps.simulador.views.simulated_contract' empregado=empregado.id %}");
			$("#ctps").load("{% url 'EmpregadoSimples.apps.empregados.views.ctps' empregado.id %}");
		</script>
		{% endblock %}