<table class="table table-bordered">
	<thead>
		<tr class="warning">
			<th colspan="6"><p class="text-center">Gastos Mensais</p></th>
		</tr>
		<tr class="warning">
			<th></th>
			<th colspan="2"><p class="text-center">Empregador</p></th>
			<th colspan="2"><p class="text-center">Empregado</p></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><p class="text-left">Salário</p></td>
			<td colspan="2"><p class="text-center text-error">{{ calc.salary_employer|floatformat:2 }}</p></td>
			<td colspan="2"><p class="text-center text-info">{{ calc.salary_employee|floatformat:2 }}</p></td>
			<td><p class="text-left"></p></td>
		</tr>
		<tr>
			<td><p class="text-left"><abbr title="Instituto Nacional de Segurança Social" class="initialism">INSS</abbr></p></td>
			<td colspan="2"><p class="text-center text-error">{{ calc.inss_employer|floatformat:2 }}</p></td>
			<td colspan="2"><p class="text-center text-error">{{ calc.inss_employee|floatformat:2 }}</p></td>
			<td><p class="text-left"> = {{ calc.inss|floatformat:2 }}</p></td>
		</tr>
		<tr>
			<td><p class="text-left"><abbr title="Fundo de Garantia por Tempo de Serviço" class="initialism">FGTS</abbr></p></td>
			<td colspan="2"><p class="text-center text-error">{{ calc.fgts_employer|floatformat:2 }}</p></td>
			<td colspan="2"><p class="text-center"></p></td>
			<td><p class="text-left"> = {{ calc.fgts|floatformat:2 }}</p></td>
		</tr>
		<tr>
			<td><p class="text-left">Transporte</p></td>
			<td colspan="2"><p class="text-center text-error">{{ calc.transport_employer|floatformat:2 }}</p></td>
			<td colspan="2"><p class="text-center text-error">{{ calc.transport_employee|floatformat:2 }}</p></td>
			<td><p class="text-left"> = {{ calc.transport_month|floatformat:2 }}</p></td>
		</tr>
		<tr class="warning">
			<td><p class="text-left"><b>Total</b></p></td>
			<td colspan="2"><p class="text-center text-error">{{ calc.total_month_employer|floatformat:2 }}</p></td>
			<td colspan="2"><p class="text-center text-info">{{ calc.total_month_employee|floatformat:2 }}</p></td>
			<td><p class="text-left"></p></td>
		</tr>
	</tbody>
</table>
<table class="table table-bordered">
	<thead>
		<tr class="warning">
			<th colspan="6"><p class="text-center">Gastos Anuais</p></th>
		</tr>
		<tr class="warning">
			<th></th>
			<th colspan="2"><p class="text-center">Empregador</p></th>
			<th colspan="2"><p class="text-center">Empregado</p></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><p class="text-left">13º Salário</p></td>
			<td colspan="2"><p class="text-center text-error">{{ calc.salary_employer|floatformat:2 }}</p></td>
			<td colspan="2"><p class="text-center text-info">{{ calc.salary_employee|floatformat:2 }}</p></td>
			<td><p class="text-left"></p></td>
		</tr>
		<tr>
			<td><p class="text-left"><abbr title="Instituto Nacional de Segurança Social" class="initialism">INSS</abbr> 13º</p></td>
			<td colspan="2"><p class="text-center text-error">{{ calc.inss_employer|floatformat:2 }}</p></td>
			<td colspan="2"><p class="text-center text-error">{{ calc.inss_employee|floatformat:2 }}</p></td>
			<td><p class="text-left"> = {{ calc.inss|floatformat:2 }}</p></td>
		</tr>
		<tr>
			<td><p class="text-left">1/3 de Férias</p></td>
			<td colspan="2"><p class="text-center text-error">{{ calc.vacation_employer|floatformat:2 }}</p></td>
			<td colspan="2"><p class="text-center text-info">{{ calc.vacation_employee|floatformat:2 }}</p></td>
			<td><p class="text-left"></p></td>
		</tr>
		<tr class="warning">
			<td><p class="text-left"><b>Total</b></p></td>
			<td colspan="2"><p class="text-center text-error">{{ calc.total_year_employer|floatformat:2 }}</p></td>
			<td colspan="2"><p class="text-center text-info">{{ calc.total_year_employee|floatformat:2 }}</p></td>
			<td><p class="text-left"></p></td>
		</tr>
	</tbody>
</table>