				{% csrf_token %}
				<label for="salario">Salário a Pagar:</label><input type="number" step="0.10" id="salario" name="salario" placeholder="Sálario Bruto" required="required"/>
				<label for="jornada_semanal">Jornada Semanal:</label><input type="number" step="1" id="jornada_semanal" name="jornada_semanal" placeholder="44"/>
				<label for="custo_transporte">Custo do Transporte:</label><input type="number" step="0.10" id="custo_transporte" name="custo_transporte" placeholder="0.00"/>
				<label for="transporte_por_dia">Transportes/Dia:</label><input type="number" step="1" id="transporte_por_dia" name="transporte_por_dia" placeholder="0"/>
				
		    	<button id="simular" class="btn btn-primary" onClick="simular()">Simular</button>
		
				  <script type="text/javascript">
					function simular(){
						var token = $("[name=csrfmiddlewaretoken]").val();
						var salario = $("#salario").val();
						var jornada_semanal = $("#jornada_semanal").val();
						var custo_transporte = $("#custo_transporte").val();
						var transporte_por_dia = $("#transporte_por_dia").val();
						
						
						$.post("{% url 'EmpregadoSimples.apps.simulador.views.simulated_contract' %}",
								"csrfmiddlewaretoken=" + token + "&salario=" + salario + "&jornada_semanal=" + jornada_semanal + "&custo_transporte=" + custo_transporte + "&transporte_por_dia=" + transporte_por_dia,
								function(data){
									$("#simulador .modal-body").html(data);
									$("#simular").hide();
								}).error(function(data){
									window.open().document.write(data.responseText);
								});
						
							
							
						
					}
				  </script>