{% extends 'base.html' %}

		{% block container %}
		  <form method="POST" action="{% url 'apps.contas.views.home' %}">
			{% csrf_token %}			
			<div class="page-header">
		      <div class="row">
			    <div class="span2">
			      <h4>Dados de Pessoais</h4>
			    </div>
			  </div>
			</div>
			{% for field in form_usuario %}
				<div class="row">
				    <div class="span4">
				        <div class="input-prepend">
					      <span class="add-on" style="width:120px;">{{ field.label }}</span>
					      {{ field }}
					    </div>
				    </div>
				    {% if field.errors %}
			    	<div class="span4 alert alert-error">{{ field.errors }}</div>
			    	{% endif %}
			    </div>
			{% endfor %}
			
			<div class="page-header">
			  <h4>Perfil</h4>
			</div>
			{% for field in form_perfil %}
				<div class="row">
				    <div class="span4">
				        <div class="input-prepend">
					      <span class="add-on" style="width:120px;">{{ field.label }}</span>
					      {{ field }}
					    </div>
				    </div>
				    {% if field.errors %}
			    	<div class="span4 alert alert-error">{{ field.errors }}</div>
			    	{% endif %}
			    </div>
			{% endfor %}
			
			<div class="form-actions">
			  <button type="submit" class="btn btn-primary">Salvar Alterações</button>
			  <a href="{% url 'apps.contas.views.cancelar' %}" class="btn btn-danger pull-right">Cancelar Conta no EmpregadoSimples.com</a>
			</div>
		  </form>
		{% endblock %}