{% extends 'base.html' %}

		{% block container %}
		  <form method="POST" action="{% url 'EmpregadoSimples.apps.contas.views.registrar' %}">
			{% csrf_token %}			
			<div class="page-header">
			  <h4>Dados de Pessoais</h4>
			</div>
			<div class="row">
				<div class="span6">
					<div class="input-prepend">
				      <span class="add-on"><i class="icon-font"></i></span>
				      <input type="text" id="nome" name="nome" placeholder="Nome..." value="{{ user.first_name }}" required/>
				    </div>
                    <input type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome..." value="{{ user.last_name }}"/>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<div class="input-prepend">
				      <span class="add-on"><i class="icon-envelope"></i></span>
				    </div>
			        <input type="email" id="email" name="email" placeholder="Seu e-mail..." value="{{ user.email }}" required/>
				</div>
			</div>
			{% if message %}
			<div class="alert alert-error">
			  <p> {{ message }}
			</div>
			{% endif %}
			
			<div class="form-actions">
			  <button type="submit" class="btn btn-primary">Salvar Alterações</button>
			</div>
		  </form>
		{% endblock %}