{% extends 'base.html' %}

		{% block container %}
		  <form method="POST" action="{% url 'apps.contas.views.registrar' %}">
			{% csrf_token %}

			<div class="page-header">
			  <h4>Dados de Usuário</h4>
			</div>
			{% for field in form %}
			<div class="row">
			    <div class="span4">
			        <div class="input-prepend">
				      <span class="add-on" style="width:120px;">{{ field.label }}</span>
				      {{ field }}
				    </div>
			    </div>
			    {% if field.errors %}
		    	<div class="span4 alert alert-error">{{ field.errors }}</div>
		    	{% endif %}
		    </div>
			{% endfor %}
			
			<div class="form-actions">
			  <a type="button" class="btn" href="{% url 'apps.home.views.index' %}">Cancelar</a>
			  <button type="submit" class="btn btn-primary">Finalizar Cadastro</button>
			</div>
		  </form>
		{% endblock %}